
`timescale 1ns / 1ns

module test;


wire  y;

reg  a, b;



nand2 top(y, a, b); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/koepcke2/ece425.work/nand2_run1/testfixture.verilog file
`include "/home/koepcke2/ece425.work/nand2_run1/testfixture.verilog"

`endif

endmodule 
